$fontSize: (
  xs: 11.52px,
  sm: 14.4px,
  base: 18px,
  md: 22.5px,
  lg: 28.13px,
  xl: 35.16px,
  2xl: 43.95px,
  3xl: 54.93px,
  4xl: 68.66px,
);

$themeColors: (
  blue-500: hsl(215, 51%, 70%),
  cyan-400: hsl(178, 100%, 50%),
  blue-950: hsl(217, 54%, 11%),
  blue-900: hsl(216, 50%, 16%),
  blue-800: hsl(215, 32%, 27%),
  white: hsl(0, 0%, 100%),
);

$baseSpaceSize: 4px;

$spacing: (
  0: 0,
  1: $baseSpaceSize * 1,
  2: $baseSpaceSize * 2,
  3: $baseSpaceSize * 3,
  4: $baseSpaceSize * 4,
  5: $baseSpaceSize * 5,
  6: $baseSpaceSize * 6,
  8: $baseSpaceSize * 8,
  10: $baseSpaceSize * 10,
  12: $baseSpaceSize * 12,
  16: $baseSpaceSize * 16,
);

$radius: (
  br-0: 0,
  br-1: calc($baseSpaceSize * 0.5),
  br-2: calc($baseSpaceSize * 1),
  br-3: calc($baseSpaceSize * 2),
  br-4: calc($baseSpaceSize * 3),
  br-5: calc($baseSpaceSize * 4),
  br-6: calc($baseSpaceSize * 5),
  br-7: calc($baseSpaceSize * 6),
  br-8: calc($baseSpaceSize * 8),
  br-full: 50%,
);
